.imageContainer{
    max-width: 100vw;
    position: relative;
    
}

.image{
    max-width: 100%;
    position: relative;
    z-index: 0;
    border-radius: 25px;

}

.imageTarget{
    position: absolute;
    width: 3%;
    height: 7%;
    z-index: 1;
    border: 5px solid red;
}

.selectorList{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background-color: rgb(186, 186, 186);
    width: 200px;
    position: relative;
    left: 105% ;
    gap: 2px;
    z-index: 2;
}

.listitem{
    background-color: rgb(240, 240, 240);;
    text-align: center;
    &:hover{
        background-color: rgb(255, 255, 255);
    }
}
